@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito+Sans&family=Roboto+Mono&display=swap');
/* Add box-sizing to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Apply CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: #3b82f6;
}

body, html {
    height: 100%;
    width: 100%;
}


.container {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 2fr repeat(5, 1fr) 2fr 1fr 1fr 14fr;
    grid-template-columns: 1fr;

    overflow: auto;
    text-align: center;

    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.sidebar div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar div p {
    grid-column: 2 / 3;
    align-self: center;
}

.sidebar div img {
    height: 30px;
    filter: invert(1);
    align-self: center;
    justify-self: end;
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
}

.upper-header {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 2fr;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

#searchbar {
    border-radius: 50px;
    padding: 10px;
    border: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgb(206, 206, 206);
}

.upper-header  img, .lower-header  img {
    border-radius: 50%;
    max-width: 50%;
    max-height: 80%;
    justify-self: self-end;
}



.icon {
    height: 30px;
    align-self: center;
}

#search {
    justify-self: self-end;
}

.main-content img {
    height: min(80px, 100%);
    width: min(80px, 100%);
}



.lower-header {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 5fr repeat(3, 1fr);
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

#usertag {
    font-size: 18px;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px 7fr;
    gap: 10px;
    margin: 10px;
}

.cards {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.vertical-cards {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
}

.vertical-card-1 {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: antiquewhite;
}

.vertical-card-2 {
    grid-column: 2;
    grid-row: 3;
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    
}

.vertical-cards p {
    grid-row: 2;
    grid-column: 2;
}

.cards div {
    background-color: rgb(207, 207, 207);
}

#announcements {
    grid-column: 2;
}

#your-projects {
    grid-column: 1;
}

.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.text-container {
    grid-column: 2;
    grid-row: 1;
}

#communities {
    align-self: self-start;
}

#privacy {
    align-self: self-start;
}