/* Add box-sizing to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Apply CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr) 2fr repeat(2, 1fr);
    max-height: 100%;
    overflow: auto;
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 25vh;
}

.upper-header {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 2fr;
    align-items: center;
    gap: 10px;
}

.upper-header > img, .lower-header > img {
    max-width: 100%;
    max-height: 100%;
}

.main-content img {
    height: min(80px, 100%);
    width: min(80px, 100%);
}

.upper-header > input {
    max-height: 20%;
}

.lower-header {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 5fr repeat(3, 1fr);
    align-items: center;
    gap: 10px;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 7fr;
    gap: 10px;
    height: 75vh;
}

.cards {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.vertical-cards {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
    height: 95vh;
}

.vertical-card-1 {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: antiquewhite;
}

.vertical-card-2 {
    grid-column: 2;
    grid-row: 3;
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    
}

.vertical-cards p {
    grid-row: 2;
    grid-column: 2;
}

.cards div {
    background-color: rgb(207, 207, 207);
}

#announcements {
    grid-column: 2;
}

#your-projects {
    grid-column: 1;
}

.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 10vh;
}

.text-container {
    grid-column: 2;
    grid-row: 1;
}
